<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-item>
        <ion-input clearInput placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input clearInput placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    
  
  </div>

  <ion-button expand="full" (click)="submit()">Log In</ion-button>
  <ion-button expand="full" (click)="navToRegister()">Register</ion-button>

</ion-content>
