<ion-header>
    <ion-toolbar>
      <ion-title>
        Client HTTP Form
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <ion-item>
        <ion-input clearInput placeholder="First Name" [(ngModel)]="user.firstname"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input clearInput placeholder="Last Name" [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input clearInput placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input clearInput placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>
    <ion-button expand="full" (click)="submit()">Register</ion-button>
  </ion-content>